* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* music-player block */

.music-player {  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 280px;
    height: 450px;
    margin: auto 0;
    padding: 20px;
    background-color: #cccccc;
    border: solid 2px #999999;
}

img {
    border: solid 2px #333333;
}

.title,
.progress-bar,
.time,
.buttons {
    width: 100%;
}

.title {
    padding: 10px;
    line-height: 30px;
}

.singer-title {
    font-size: 30px;
    line-height: 40px;  
}

.progress-bar {
    background-color: #999999;
    cursor: pointer;
}

.progress {
    width: 0;
    height: 4px;
    background-color: #333333;
}

.time {  
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.backward,
.play-pause,
.play-pause.pause,
.forward,
.my-github {
    border: none;
    cursor: pointer;
    transition: .4s;
}

.backward:hover,
.play-pause:hover,
.play-pause.pause:hover,
.forward:hover,
.my-github:hover {
    filter: invert(65%) sepia(14%) saturate(0%) hue-rotate(166deg) brightness(91%) contrast(88%);
}

.backward,
.forward {
    width: 40px;
    height: 40px;
}

.backward {
    background: url(assets/svg/skip-previous.svg);
    background-size: cover;
}

.play-pause {
    height: 50px;
    width: 50px;
    background: url(assets/svg/play.svg);
    background-size: cover;
}

.play-pause.pause {
    background: url(assets/svg/pause.svg);
    background-size: cover;
}

.forward {
    background: url(assets/svg/skip-next.svg);
    background-size: cover;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    min-height: 60px;
    padding: 20px 0;   
}

.my-github {
    width: 40px;
    height: 40px;
    background: url(assets/svg/github.png);
    background-size: cover;
}

.rs-logo {
    width: 80px;
    height: 40px;
    background: url(assets/svg/rs-school.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}